<div class="container">
   
    <div class="card-deck">
      <div class="card bg-primary">
        <div class="card-body text-center">
          <p class="card-text">steg facture </p>

          <img src="http://localhost/myfactures/steg.jfif" class="float-right" alt="Paris" width="304" height="236" [[ngModel]] = "facture.photo"> 
          <form >
           

            <label>Nom:</label>
            <input type="text" name="nom" [(ngModel)]="facture.nom" required>
            
            <label>Prénom:</label>
            <input type="text" name="prenom" [(ngModel)]="facture.prenom" required>
            
            <label>Amount:</label>
            <input type="number" name="amount" [(ngModel)]="facture.amount" required>
            
            <label>Fact Name:</label>
            <input type="text" name="factname" [(ngModel)]="facture.factname" required>
            
            <label>Niveau:</label>
            <input type="text" name="Niveau" [(ngModel)]="facture.Niveau" required>
            
           
            
            <button type="submit">Add Facture</button>
          </form>
          



          
               
        </div>




      </div>





      <div class="card bg-warning">
        <div class="card-body text-center">
            <img src="http://localhost/myfactures/steg.jfif" class="float-right" alt="Paris" width="304" height="236"> 
        </div>
      </div>
      <div class="card bg-success">
        <div class="card-body text-center">
            <img src="http://localhost/myfactures/sonede.jfif" class="float-right" alt="Paris" width="304" height="236"> 
        </div>
      </div>
      <div class="card bg-danger">
        <div class="card-body text-center">
            <img src="http://localhost/myfactures/sonede.jfif" class="float-right" alt="Paris" width="304" height="236"> 
        </div>
      </div>  
    </div>
  </div>