<div class="container">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card bg-primary">
          <div class="card-body text-center">
            <h5 class="card-title">Steg Facture</h5>
            <img src="http://localhost/myfactures/steg.jfif" class="img-fluid rounded-circle mb-3" alt="Steg">
            <form [formGroup]="factureForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="nom">Nom:</label>
                <input type="text" formControlName="nom" id="nom" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="prenom">Prénom:</label>
                <input type="text" formControlName="prenom" id="prenom" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="amount">Amount:</label>
                <input type="number" formControlName="amount" id="amount" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="factname">Fact Name:</label>
                <input type="text" formControlName="factname" id="factname" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="niveau">Niveau:</label>
                <input type="text" formControlName="niveau" id="niveau" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="photo">Photo:</label>
                <input type="text" formControlName="photo" id="photo" class="form-control" required>
              </div>
              <button type="submit" id="sbm1" class="btn btn-light">paye Facture</button>
            </form>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 mb-4">
        <div class="card bg-success">
          <div class="card-body text-center">
            <h5 class="card-title">Sonede Facture</h5>
            <img src="http://localhost/myfactures/sonede.jfif" class="img-fluid rounded-circle mb-3" alt="Sonede">
            <form [formGroup]="factureForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="nom2">Nom:</label>
                <input type="text" formControlName="nom" id="nom2" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="prenom2">Prénom:</label>
                <input type="text" formControlName="prenom" id="prenom2" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="amount2">Amount:</label>
                <input type="number" formControlName="amount" id="amount2" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="factname2">Fact Name:</label>
                <input type="text" formControlName="factname" id="factname2" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="niveau2">Niveau:</label>
                <input type="text" formControlName="niveau" id="niveau2" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="photo2">Photo:</label>
                <input type="text" formControlName="photo" id="photo2" class="form-control" required>
              </div>
              <button type="submit"  id="sbm1" class="btn btn-light">paye Facture</button>
            </form>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 mb-4">
        <div class="card bg-danger">
          <div class="card-body text-center">
            <h5 class="card-title">Sonede Facture</h5>
            <img src="http://localhost/myfactures/sonede.jfif" class="img-fluid rounded-circle mb-3" alt="Sonede">
          </div>
        </div>
      </div>
    </div>
  </div>
  