@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: "Poppins", Roboto;
  font-size: 18px;
  background: #EDEDED;
}
main {
  width: 1000px;
  margin: 10px auto;
  padding: 10px 20px 30px;
  background: #FFF;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}
p {
  margin-top: 2rem;
  font-size: 13px;
}
#combo-chart-container {
  width: 900px;
  height: 300px;
  position: relative;
}

#combo-chart-container::before {
  position: absolute;
  display: block;
  width: 900px;
  height: 300px;
  left: 200;
  top: 254px;
  background: #FAFAFA;
  box-shadow: 1px 1px 0 0 #DDD;
}
#pie-chart-container {
  width: 500px;
  height: 450px;
  position: relative;
}
#pie-chart-container::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 115px;
  left: 315px;
  top: 0;
  background: #FAFAFA;
  box-shadow: 1px 1px 0 0 #DDD;
}
#pie-chart-container::after {
  content: "";
  position: absolute;
  display: block;
  left: 70px;
  width: 170px;
  height: 2px;
}

#wdr-component img {
  max-width: 100%;
  height: auto;
  height: initial;
  border: none;
}

img.centered {
  margin: auto !important;
  padding-bottom: 10px;
  color: transparent !important;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  font-size: 12px;
  position: relative;
  bottom: 4px;
  left: 6px;
}

/* Google Font Imports */
/* Open Sans Regular 400 - font-family: 'Open Sans', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #00d2ac;
}

.app {
  height: 600px;
  width: 450px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  background-color: #efefef;
  box-shadow: 10px 10px 40px black;
}

.top {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("https://images.unsplash.com/photo-1571715268998-d6e79bed5fc9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2252&q=80");
  background-size: cover;
  background-repeat: none;
  background-position-y: -48px;
}

.menu {
  width: 80%;
  display: flex;
}

.menu-button {
  height: 60px;
  flex-grow: 1;
  border: none;
  border-radius: 5px;
  background-color: rgba(232, 232, 232, 0.8);
  outline: none;
  margin: 5px 5px 10px 5px;
}

.fas {
  color: rgb(138, 132, 116);
}

.menu-button:hover {
  background-color: rgba(138, 132, 116, 0.8);
}

.menu-button:hover .fas {
  color: #e8e8e8;
}

.account {
  width: 100%;
  max-height: 350px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.balance {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  background-color: #e8e8e8;
  border-bottom: 1.5px solid rgba(138, 132, 116, 0.7);
  padding-left: 55px;
}

#account-balance {
  padding-left: 15px;
  color: #219681;
}

.history {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.transaction {
  width: 100%;
  min-height: 70px;
  display: flex;
  flex-direction: row;
  background-color: #e8e8e8;
  border-bottom: 2px solid lightgray;
}

.description {
  width: 55%;
  padding-left: 55px;
  text-align: left;
}

.amount {
  flex-grow: 1;
  text-align: center;
  padding-right: 10px;
}
