/* app-header.component.css */

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  z-index: 50;
  background-color: white;
}

.showonSmall {
  display: none;
}

@media (max-width: 640px) {

  .showonSmall {
    display: block;
  }

  h1 {
    font-weight: 600;
  }

  header {
    padding: 0px;
  }

  .smallscreen {
    padding: 4px;
    font-size: x-small;
    font-weight: normal;
    width: fit-content;

  }
}




:root{
  --blue: #4967ff;
  --yellow: #c1fd33;
  --gray: #a3a9c3;
  --dark: #1c2025;
  --red: #ff4f49;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito";
  flex-shrink: 0;
}
nav.nav{
  background-color: white;
  width: 100%;
  height: 50px;
  box-shadow: 5px 5px 8px #18181811;
  display: flex;
  justify-content: space-between;
}
.nav-items{
  display: flex;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-left: 20px
}
.nav-item{
  cursor: pointer;
}
.nav-item:hover{
  color: #2c333b;
}
.logo{
  background-image: url("https://cdn.dribbble.com/users/4949363/avatars/small/606bb85ee728fd3d78bbddf7e70b3901.jpg?1676454777");
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-size: cover;
  margin-right: 20px;
}
.icons{
  display: flex;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 1.3rem;
}
.nots{
  position: relative;
}
.nots::after{
  content: "";
  position: absolute;
  background-color: var(--red);
  height: 7px;
  border-radius: 100px;
  top: -6px;
  right: -6px;
}
.icons i{
  cursor: pointer;
}
.profile{
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  cursor: pointer;
}
.profile img{
  width: 40px;
}
.right{
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 923px) {
  .right{
      margin-right: 0;
      width: 60px;
  }
  .icons{
      display: none;
  }
}
@media screen and (max-width: 808px) {
  .right{
      margin-right: 0;
      width: 60px;
  }
  .icons{
      display: none;
  }
  .profile h3{
      display: none;
  }
}
@media screen and (max-width: 870px) {
  .right{
      margin-right: 0;
      width: 60px;
  }
  .icons{
      display: none;
  }
  .profile h3{
      display: none;
  }
  .profile img{
      display: none;
  }
  .nav-items{
      width: 100%;
      margin-left: 2px;
  }
}
@media screen and (max-width: 700px) {
  .right{
      margin-right: 0;
      width: 60px;
  }
  .icons{
      display: none;
  }
  .profile h3{
      display: none;
  }
  .profile img{
      display: none;
  }
  .nav-items{
      width: 100%;
      margin-left: 2px;
      transform: scale(.65);
  }
}