






<script src="https://kit.fontawesome.com/7552b865b0.js" crossorigin="anonymous"></script>
<!-- FontAwesome -->

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito&display=swap">
<!-- Nunito Font -->
<nav class="nav">
    <div class="nav-items">
        <div class="logo nav-item"></div>
        <div style="color: var(--blue); cursor: default;" class="nav-item" *ngIf="isLoggedIn()" >
          <div class="nav-wrapper flex items-center justify-between mx-1">
            <h1 *ngIf="!isLoggedIn() || checkScreenSize()"
              class="nav-logo min-w-min !min-w-[fit-content] text-xl md:text-2xl font-bold">
              <img src="assets/bnaa.png" alt="Dashboard Screenshot" class="w-full rounded-lg border border-gray-200">
            </h1>
        
            <div class="nav-body w-full flex justify-end space-x-4 p-1">
              
                     
              
            </div>
          </div>
        </div>
        <div class="nav-item" *ngIf="!isLoggedIn()" >
          <a *ngIf="!isLoggedIn()" routerLink="/register"
                class="smallscreen bg-blue-700 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline text-sm">
                <i class="fas fa-user"></i> Create Account
              </a>
        </div>
        <div class="nav-item" *ngIf="!isLoggedIn()" >
          <a *ngIf="!isLoggedIn()" routerLink="/login"
                class="smallscreen border border-2 border-gray-500 hover:bg-gray-100 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline text-sm">
                <i class="fa fa-sign-in"></i> Login
              </a>
        </div>
        <div class="nav-item" *ngIf="isLoggedIn()" >Cards</div>
        <div class="nav-item" *ngIf="isLoggedIn()" >History</div>
        <div class="nav-item" *ngIf="isLoggedIn()" >Services</div>


      
       
    
    </div>
    <div class="right">
      
        <div class="profile">
            <h3>User</h3>
            <img src="assets/bnaa.png" alt="">
        </div>
        <div class="profile">
          <button *ngIf="isLoggedIn()"
          class="smallscreen bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline text-sm"
          (click)="logout()">
          <i class="fas fa-sign-out-alt mr-1"></i> Logout
        </button>
        </div>
    </div>

    
</nav>