<section>
    <div class="container">
        <div class="row">    
            <div class="col-md-4">
                <div class="card card-01">
                    <div class="card-body">
                        <div class="card mb-4 item-card card-block">
                            <h4 class="card-title text-right"><i class="material-icons">Withdraw</i></h4>
                            <a routerLinkActive="active-link" routerLink="/transaction/withdraw"
                                class="sidebar-link inline-flex items-center gap-4 w-full text-normal font-semibold  text-gray-300 transition-colors duration-150">
                                <i class="fas fa-money-bill"></i>
                                <span class="badge">Withdraw</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="card-body">
                    <div class="card mb-4 item-card card-block">
                        <h4 class="item-card-title text-right"><i class="material-icons">Fund Transfer</i></h4>
                        <a routerLinkActive="active-link" routerLink="/transaction/fund-transfer"
                            class="sidebar-link inline-flex items-center gap-4 w-full text-normal font-semibold  text-gray-300 transition-colors duration-150">
                            <i class="fas fa-exchange-alt"></i>
                            <span class="badge">Fund Transfer</span>
                        </a>
                    </div>
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="card-body">
                    <div class="card mb-4 item-card card-block">
                        <h4 class="item-card-title text-right"><i class="material-icons">Account PIN</i></h4>
                        <a routerLinkActive="active-link" routerLink="/transaction/pin"
                            class="sidebar-link inline-flex items-center gap-4 w-full text-normal font-semibold  text-gray-300 transition-colors duration-150">
                            <i class="fas fa-key"></i>
                            <span class="badge">Account PIN</span>
                        </a>
                    </div>
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="card-body">
                    <div class="card mb-4 item-card card-block">
                        <h4 class="item-card-title text-right"><i class="material-icons">Deposit</i></h4>
                        <a routerLinkActive="active-link" routerLink="/transaction/deposit"
                            class="sidebar-link inline-flex items-center gap-4 w-full text-normal font-semibold  text-gray-300 transition-colors duration-150">
                            <i class="fas fa-money-bill-wave"></i>
                            <span class="badge">Deposit</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
